/.vs
/DemoCSharpBasics/obj
/DemoCSharpBasics/bin
/DemoCSharpBasicsTests/bin/Debug/net5.0
/DemoCSharpBasicsTests/obj
/ShapesStore/bin/Debug/net5.0
/ShapesStore/obj/Debug/net5.0
/ShapesStore/obj
/SugarStore/bin/Debug/net5.0
/SugarStore/obj
